.mobileWrapper {
  .container {
    flex-direction: column;
    .topContent {
      display: block;
      width: 100%;
      height: 100%;
      background: transparent;
      position: relative;

      .checkoutStepTitle {
        text-align: center;
        display: block;
        margin-top: 40px;
      }

      .iconChevron {
        position: absolute;
        left: 15px;
        top: 38px;
      }

      .addCreditCardTitle {
        align-items: center;
        margin-top: 30px;
        justify-content: center;

        h3 {
          font-size: 16px;
          font-weight: 700;
          width: 165px;
          height: 39px;
          margin-left: 15px;
        }
      }

      .creditCard {
        justify-content: center;
        padding: 0 40px;
      }

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: #de4b4b;
        width: 100%;
        height: 239px;
        z-index: -1;
      }
    }
  }
}
